In [2]:
print("process of cleaning data is called data munging or data wrangling")

process of cleaning data is called data munging or data wrangling

In [ ]:
print("first we need to load the data with read.csv method ")
print("we can work with excel sometime but sometime it give wrong answer ")
# but when the data is null or empty ,excel it work properly with data
# df['Temperature'].max()   # for maximun
# df.fillna(0,inplace=True) is used for put 0 value in empty data or null value 

# if you donot  have anaconda then just install pip in command prompt
# pip install pandas
# then we can

In [4]:
print("dataframes is very important in pandas , we will be using it very offen")
print("dataframe is a object of pandas ,it represent data with row and column like tabular form or excel sheet")

# lets create dictionary
dic ={
    'name':['Ajay','Amit','Anurag'],
    'marks':[12,12,23]
}

dic

dataframes is very important in pandas , we will be using it very offen
dataframe is a object of pandas ,it represent data with row and column like tabular form or excel sheet

{'name': ['Ajay', 'Amit', 'Anurag'], 'marks': [12, 12, 23]}

In [7]:
import pandas as pd
df=pd.DataFrame(dic)
print(df)

     name  marks
0    Ajay     12
1    Amit     12
2  Anurag     23

In [9]:
dic ={
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,4,2],
    'ecent':['rain','sunny','snow','snow','rain','sunny']
}

dic

{'day': ['1/1/2017',
  '1/2/2017',
  '1/3/2017',
  '1/4/2017',
  '1/5/2017',
  '1/6/2017'],
 'temperature': [32, 35, 28, 24, 32, 31],
 'windspeed': [6, 7, 2, 7, 4, 2],
 'ecent': ['rain', 'sunny', 'snow', 'snow', 'rain', 'sunny']}

In [12]:
import pandas as pd
df=pd.DataFrame(dic)
df

        day  temperature  windspeed  ecent
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [13]:
df.shape   # it is in tuple form

(6, 4)

In [14]:
row,column=df.shape   # we can store tuuple in row variables as well
row

6

In [15]:
df.head()   # bydeafult it print first 5 records , to avoid to print all data everytime

        day  temperature  windspeed  ecent
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain

In [16]:
df.head(2)

        day  temperature  windspeed  ecent
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny

In [17]:
df.tail()

        day  temperature  windspeed  ecent
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [18]:
df.tail(3)

        day  temperature  windspeed  ecent
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [19]:
df[1:3]

        day  temperature  windspeed  ecent
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow

In [20]:
df[::]

        day  temperature  windspeed  ecent
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [21]:
df[:]

        day  temperature  windspeed  ecent
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [22]:
df[::2]

        day  temperature  windspeed ecent
0  1/1/2017           32          6  rain
2  1/3/2017           28          2  snow
4  1/5/2017           32          4  rain

In [23]:
df[::-2]

        day  temperature  windspeed  ecent
5  1/6/2017           31          2  sunny
3  1/4/2017           24          7   snow
1  1/2/2017           35          7  sunny

In [26]:
df.columns

Index(['day', 'temperature', 'windspeed', 'ecent'], dtype='object')

In [28]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'row'

In [29]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [30]:
df['day']   # same thing

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [31]:
type(df.day)   # pandas series

pandas.core.series.Series

In [34]:
df[['day','day','temperature']]   # use doub cortes

        day       day  temperature
0  1/1/2017  1/1/2017           32
1  1/2/2017  1/2/2017           35
2  1/3/2017  1/3/2017           28
3  1/4/2017  1/4/2017           24
4  1/5/2017  1/5/2017           32
5  1/6/2017  1/6/2017           31

In [35]:
df['day']    # this will not give heading of column

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [36]:
df['day'].max()

'1/6/2017'

In [37]:
df['day'].min()

'1/1/2017'

In [40]:
df.day.min()

'1/1/2017'

In [41]:
df.temperature.min()

24

In [42]:
df.temperature.min()

24

In [43]:
df.temperature.std()  # standard deviation

3.8297084310253524

In [44]:
df.describe()   #only pic two column becasue i have two column which have integer type
# by default it will print 8  different result

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [45]:
# now we can also work or think like sql 
df.temperature>=22   # it reture boolean result

0    True
1    True
2    True
3    True
4    True
5    True
Name: temperature, dtype: bool

In [46]:
df[df.temperature>=33]

        day  temperature  windspeed  ecent
1  1/2/2017           35          7  sunny

In [47]:
df

        day  temperature  windspeed  ecent
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [48]:
df.temperature.max()  #  this will print maxminum result

35

In [49]:
df[df.temperature==df.temperature.max()]   # same thing but with row

        day  temperature  windspeed  ecent
1  1/2/2017           35          7  sunny

In [50]:
# difference beween df['temperature'] and df.temperature is  when we have column name have spaces in beteen like ='temp now'
# in this variable have spaces so we have to use df['temp now']      very very very importnt

In [51]:
# we can select which column we want or not
df[df.temperature==df.temperature.min()]

        day  temperature  windspeed ecent
3  1/4/2017           24          7  snow

In [52]:
df[['day']][df.temperature==df.temperature.min()]

        day
3  1/4/2017

In [58]:
df[['day','temperature']][df.temperature==df.temperature.min()]

        day  temperature
3  1/4/2017           24

In [59]:
#  https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html
# read it
df.index

RangeIndex(start=0, stop=6, step=1)

In [60]:
df.set_index('day')   # it doesnot modift the oridinal dat ,it is new df so e have to use inplace method

          temperature  windspeed  ecent
day
1/1/2017           32          6   rain
1/2/2017           35          7  sunny
1/3/2017           28          2   snow
1/4/2017           24          7   snow
1/5/2017           32          4   rain
1/6/2017           31          2  sunny

In [67]:
df.set_index('day',inplace=True)

KeyError: "None of ['day'] are in the columns"

In [68]:
df

          temperature  windspeed  ecent
day
1/1/2017           32          6   rain
1/2/2017           35          7  sunny
1/3/2017           28          2   snow
1/4/2017           24          7   snow
1/5/2017           32          4   rain
1/6/2017           31          2  sunny

In [69]:
df.loc['1/1/2017']    # it will print all data

temperature      32
windspeed         6
ecent          rain
Name: 1/1/2017, dtype: object

In [70]:
# we can rest the table as well
df.reset_index()

        day  temperature  windspeed  ecent
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [71]:
df.reset_index(inplace=True)  # same thing

In [72]:
df

        day  temperature  windspeed  ecent
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [78]:
df.set_index('ecent',inplace=True)   # it is duplicate value  # it is correct code okokokok

KeyError: "None of ['ecent'] are in the columns"

In [79]:
df.loc['snow']

            day  temperature  windspeed
ecent
snow   1/3/2017           28          2
snow   1/4/2017           24          7