In [1]:
print("new day 7")

new day 7

In [15]:
number="9,99,99999,098333"
newnumber=''
for char in number:
    if char in'0123456780':
        newnumber=newnumber+char+newnumber
        print(newnumber)

0
080
0803080
080308030803080
0803080308030803080308030803080

In [13]:
print(type(newnumber))
print(newnumber)

<class 'str'>
08333

In [10]:
totalint=int(newnumber)

In [11]:
print(totalint)

8333

In [18]:
avenger=["hulk","ironman","spiderman","captionamerica","antman"] # i have use list dat structure[]
for i in avenger:
    print("my name is "+i,end='')

my name is hulkmy name is ironmanmy name is spidermanmy name is captionamericamy name is antman

In [19]:
avenger=("hulk","ironman","spiderman","captionamerica","antman") # i have use set data structure()
for i in avenger:
    print("my name is "+i,end='')

my name is hulkmy name is ironmanmy name is spidermanmy name is captionamericamy name is antman

In [21]:
for i in range(0,100,20):
    print(i)

0
20
40
60
80

In [24]:
for i in range(1,13):
    for j in range(1,13):
        print("{0} * {1} = {2}".format(i,j,i*j),end='\t') # every single result will tab
    print("next table as below")

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9	1 * 10 = 10	1 * 11 = 11	1 * 12 = 12	next table as below
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18	2 * 10 = 20	2 * 11 = 22	2 * 12 = 24	next table as below
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27	3 * 10 = 30	3 * 11 = 33	3 * 12 = 36	next table as below
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36	4 * 10 = 40	4 * 11 = 44	4 * 12 = 48	next table as below
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45	5 * 10 = 50	5 * 11 = 55	5 * 12 = 60	next table as below
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54	6 * 10 = 60	6 * 11 = 66	6 * 12 = 72	next table as below
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	7 * 10 = 70	7 * 11 = 77	7 * 12 = 84	next table as below
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72	8 * 10 = 80	8 * 11 = 88	8 * 12 = 96	next table as below
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81	9 * 10 = 90	9 * 11 = 99	9 * 12 = 108	next table as below
10 * 1 = 10	10 * 2 = 20	10 * 3 = 30	10 * 4 = 40	10 * 5 = 50	10 * 6 = 60	10 * 7 = 70	10 * 8 = 80	10 * 9 = 90	10 * 10 = 100	10 * 11 = 110	10 * 12 = 120	next table as below
11 * 1 = 11	11 * 2 = 22	11 * 3 = 33	11 * 4 = 44	11 * 5 = 55	11 * 6 = 66	11 * 7 = 77	11 * 8 = 88	11 * 9 = 99	11 * 10 = 110	11 * 11 = 121	11 * 12 = 132	next table as below
12 * 1 = 12	12 * 2 = 24	12 * 3 = 36	12 * 4 = 48	12 * 5 = 60	12 * 6 = 72	12 * 7 = 84	12 * 8 = 96	12 * 9 = 108	12 * 10 = 120	12 * 11 = 132	12 * 12 = 144	next table as below

In [27]:
list=["milk","egg","onion","spam","burger"]
for i in list:
    if i =="spam":
        continue
    else:
        print(i)

milk
egg
onion
burger

In [28]:
list=["milk","egg","onion","spam","burger"]
for i in list:
    if i =="spam":                 # see the output both
        break                      # break get out of for loop
    else:
        print(i)

milk
egg
onion

In [29]:
list=["milk","egg","onion","spam","burger"]
for i in list:
    if i in "spam":
        continue
    else:
        print(i)

milk
egg
onion
burger

In [34]:
list=["milk","egg","onion","spam","burger"]

for i in list:
    if i=="spam":
        nasty_food=i
            
if nasty_food:
    print("i got spam result")

i got spam result