In [1]:
print("print day 100")

print day 100

In [ ]:
print("today we will discuss different way of creating dataframe in python")
#using CSV
# using excel
# python dictionary
# from list of tuples
#from list of ditionaries

import pandas as pd
pd.read_csv("weather.csv")  # it will print the data in row and column
pd.read_excel("weather_data.xlsx","sheet1") # excel

In [4]:
import pandas as pd
dictionary_data={
    "name" :['ajay',"amit","ankit"]   # thired wasy from dictionary
}
df=pd.DataFrame(dictionary_data)
df

    name
0   ajay
1   amit
2  ankit

In [8]:
# now list of tuples

import pandas as pd
list_data=[('ajay',"amit","ankit"),
          (1,2,3)]
df=pd.DataFrame(list_data,columns=["name","age","new"])
df

   name   age    new
0  ajay  amit  ankit
1     1     2      3