In [1]:
print("hi day 5")

hi day 5

In [2]:
parrat="norwegian blue" # index start from 0 i forgot over here
print(parrat[-4:-2])

bl

In [3]:
print(parrat[-4:12])

bl

In [4]:
print(parrat[0:1])

n

In [5]:
print(parrat[0:2])

no

In [6]:
# now we will study steps in python
print(parrat[0:6:2])

nre

In [7]:
# it mean start from 0 ,up to position 5 not including 6  and step of 2 and step alway start from 0 index
print(parrat[0:6:3])
print(parrat[0:6:4])

nw
ne

In [9]:
 number="0,000,123,123,123"
print(number[1::4])

,,,,

In [10]:
value=number[1::4]
print(value)

,,,,

In [13]:
backwards="abcdefghijklmnopqrstuvwxyz"
print(backwards.length())

AttributeError: 'str' object has no attribute 'length'

In [73]:
print(backwards[25:0:-1])

In [15]:
print(backwards[25:-1:-1])

In [17]:
# 25 means Z and not include index 0 which is a and -1 at the end is step

print(backwards[25::-1])
print(backwards[::-1])

zyxwvutsrqponmlkjihgfedcba
zyxwvutsrqponmlkjihgfedcba

In [18]:
# in backwar slicing stat value must be grater than strop value in backwards ok
print(backwards[-4:])
print(backwards[-1:])

wxyz
z

In [19]:
print(backwards[:0])

In [20]:
print(backwards[0:])

abcdefghijklmnopqrstuvwxyz

In [23]:
# what is our string is empty
backwards=""
print(backwards[:2])

In [25]:
print(backwards[::-2])

In [26]:
# now we will learn             string Operator

string1="hi"
string2="iam"
string3="ajay"
print(string1+string2+string3)

hiiamajay

In [27]:
print(string1 + string2 + string3)

hiiamajay

In [28]:
string1="hi "  # i have added space in this exaple
string2="iam "
string3="ajay "
print(string1+string2+string3)

hi iam ajay

In [29]:
print(string1+2)

TypeError: can only concatenate str (not "int") to str

In [30]:
print(string1*2)

hi hi

In [31]:
print(string1 -2)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [32]:
print(string1/2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [33]:
# so ,as we see ,only multiplication is applicable on this sting
print("hello" *5+2)

TypeError: can only concatenate str (not "int") to str

In [34]:
print("hello" *5+"2")

hellohellohellohellohello2

In [35]:
print("hello" *(5+2)) # now i have usred bracket

hellohellohellohellohellohellohello

In [36]:
today="Tuesday"
print("day " in today)
print("day" in today)
print("day" in today)
print("ajay" in "ajay")

False
True
True
True

In [37]:
# we can chane integer into string by using str() finction
age=25
print("my age is"+str(age)+",ok")

my age is25,ok

In [38]:
print("my age is "+str(age)+" ,ok")

my age is 25 ,ok

In [39]:
# now we will learn   replacement field in string

print("my age is {0} ,ok".format(age)) # python 3 provide  this    replacement string

my age is 25 ,ok

In [40]:
print("there are {0} days in {1},{2}".format(31,"jan","feb"))

there are 31 days in jan,feb

In [41]:
print("there are {0} days in {2},{2}".format(31,"jan","feb"))

there are 31 days in feb,feb

In [42]:
print("there are {3} days in {3},{2}".format(31,"jan","feb"))

IndexError: tuple index out of range

In [43]:
print("there are {-1} days in {1},{2}".format(31,"jan","feb"))

KeyError: '-1'

In [44]:
print("let see jan :{2} ,feb:{0},mar:{3}".format(29,31,31,30))

let see jan :31 ,feb:29,mar:30

In [45]:
print("let see 
      jan :{2} 
      ,feb:{0},mar:{3}".format(29,31,31,30))

SyntaxError: EOL while scanning string literal (<ipython-input-45-7c719c34c90f>, line 1)

In [46]:
# this code will work in tripple corts """"""

print("""let see 
jan :{2}
feb:{0}
mar:{3}""".format(29,31,31,30))

let see
jan :31
feb:29
mar:30

In [47]:
# now we will learn string formatting in python
# lets create python program with for loop

for i in range(1,13): # by using comma it automatically skip 4 spaces in next line
    print("No.{0} squarred is {1} and cube is {2}".format(i,i**2,i**3))

No.1 squarred is 1 and cube is 1
No.2 squarred is 4 and cube is 8
No.3 squarred is 9 and cube is 27
No.4 squarred is 16 and cube is 64
No.5 squarred is 25 and cube is 125
No.6 squarred is 36 and cube is 216
No.7 squarred is 49 and cube is 343
No.8 squarred is 64 and cube is 512
No.9 squarred is 81 and cube is 729
No.10 squarred is 100 and cube is 1000
No.11 squarred is 121 and cube is 1331
No.12 squarred is 144 and cube is 1728

In [48]:
for i in range(1,13): # now we will do the formating by adding gigit value with replacemt like {1:2} means letter 1 with 2 digit
    print("No.{0:2} squarred is {1:3} and cube is {2:4}".format(i,i**2,i**3))

No. 1 squarred is   1 and cube is    1
No. 2 squarred is   4 and cube is    8
No. 3 squarred is   9 and cube is   27
No. 4 squarred is  16 and cube is   64
No. 5 squarred is  25 and cube is  125
No. 6 squarred is  36 and cube is  216
No. 7 squarred is  49 and cube is  343
No. 8 squarred is  64 and cube is  512
No. 9 squarred is  81 and cube is  729
No.10 squarred is 100 and cube is 1000
No.11 squarred is 121 and cube is 1331
No.12 squarred is 144 and cube is 1728

In [51]:
# now it look better 
# now we will align left side
for i in range(1,13): 
    print("No.{0:<2} squarred is {1:<3} and cube is {2:<4}".format(i,i**2,i**3))

No.1  squarred is 1   and cube is 1
No.2  squarred is 4   and cube is 8
No.3  squarred is 9   and cube is 27
No.4  squarred is 16  and cube is 64
No.5  squarred is 25  and cube is 125
No.6  squarred is 36  and cube is 216
No.7  squarred is 49  and cube is 343
No.8  squarred is 64  and cube is 512
No.9  squarred is 81  and cube is 729
No.10 squarred is 100 and cube is 1000
No.11 squarred is 121 and cube is 1331
No.12 squarred is 144 and cube is 1728

In [56]:
#by default it automatically  show in right side,
# now we canalso put centre calure by using ^
for i in range(1,13): 
    print("No.{0:<2} squarred is {1:<3} and cube is {2:^4}".format(i,i**2,i**3))

No.1  squarred is 1   and cube is  1
No.2  squarred is 4   and cube is  8
No.3  squarred is 9   and cube is  27
No.4  squarred is 16  and cube is  64
No.5  squarred is 25  and cube is 125
No.6  squarred is 36  and cube is 216
No.7  squarred is 49  and cube is 343
No.8  squarred is 64  and cube is 512
No.9  squarred is 81  and cube is 729
No.10 squarred is 100 and cube is 1000
No.11 squarred is 121 and cube is 1331
No.12 squarred is 144 and cube is 1728

In [61]:
print("pi is {0:3} value".format(22/7)) # replacemt work on integer ,not float ,15 float value
print("pi is {0:12} value".format(22/7))
print("pi is {0:16} value".format(22/7)) 
print("pi is {0:14} value".format(22/7))
print("pi is {0:12f} value".format(22/7)) #float show 6 value 
print("pi is {0:12.50f} value".format(22/7))#  python ingnore 12 and fetch 50f
print("pi is {0:50.50F} value".format(22/7))
print("pi is {0:51.50F} value".format(22/7))
print("pi is {0:52.50F} value".format(22/7))# percison is happing in after adding 10number 
print("pi is {0:62.50F} value".format(22/7))
print("pi is {0:72.50F} value".format(22/7))
print("pi is {0:72.40F} value".format(22/7))
print("pi is {0:72.60F} value".format(22/7))

pi is 3.142857142857143 value
pi is 3.142857142857143 value
pi is 3.142857142857143 value
pi is 3.142857142857143 value
pi is     3.142857 value
pi is 3.14285714285714279370154144999105483293533325195312 value
pi is 3.14285714285714279370154144999105483293533325195312 value
pi is 3.14285714285714279370154144999105483293533325195312 value
pi is 3.14285714285714279370154144999105483293533325195312 value
pi is           3.14285714285714279370154144999105483293533325195312 value
pi is                     3.14285714285714279370154144999105483293533325195312 value
pi is                               3.1428571428571427937015414499910548329353 value
pi is           3.142857142857142793701541449991054832935333251953125000000000 value

In [62]:
for i in range(1,13): 
    print("No.{} squarred is {1:<3} and cube is {2:^4}".format(i,i**2,i**3))

ValueError: cannot switch from automatic field numbering to manual field specification

In [63]:
for i in range(1,13): 
    print("No.{} squarred is {} and cube is {2:^4}".format(i,i**2,i**3))

ValueError: cannot switch from automatic field numbering to manual field specification

In [64]:
for i in range(1,13): 
    print("No.{} squarred is {} and cube is {}".format(i,i**2,i**3))

No.1 squarred is 1 and cube is 1
No.2 squarred is 4 and cube is 8
No.3 squarred is 9 and cube is 27
No.4 squarred is 16 and cube is 64
No.5 squarred is 25 and cube is 125
No.6 squarred is 36 and cube is 216
No.7 squarred is 49 and cube is 343
No.8 squarred is 64 and cube is 512
No.9 squarred is 81 and cube is 729
No.10 squarred is 100 and cube is 1000
No.11 squarred is 121 and cube is 1331
No.12 squarred is 144 and cube is 1728

In [65]:
for i in range(1,13): 
    print("No.{} squarred is {} and cube is {:}".format(i,i**2,i**3))

No.1 squarred is 1 and cube is 1
No.2 squarred is 4 and cube is 8
No.3 squarred is 9 and cube is 27
No.4 squarred is 16 and cube is 64
No.5 squarred is 25 and cube is 125
No.6 squarred is 36 and cube is 216
No.7 squarred is 49 and cube is 343
No.8 squarred is 64 and cube is 512
No.9 squarred is 81 and cube is 729
No.10 squarred is 100 and cube is 1000
No.11 squarred is 121 and cube is 1331
No.12 squarred is 144 and cube is 1728

In [66]:
for i in range(1,13): 
    print("No.{:} squarred is {:} and cube is {:}".format(i,i**2,i**3))

No.1 squarred is 1 and cube is 1
No.2 squarred is 4 and cube is 8
No.3 squarred is 9 and cube is 27
No.4 squarred is 16 and cube is 64
No.5 squarred is 25 and cube is 125
No.6 squarred is 36 and cube is 216
No.7 squarred is 49 and cube is 343
No.8 squarred is 64 and cube is 512
No.9 squarred is 81 and cube is 729
No.10 squarred is 100 and cube is 1000
No.11 squarred is 121 and cube is 1331
No.12 squarred is 144 and cube is 1728

In [72]:
for i in range(1,13): 
    print("No.{} squarred is {} and cube is {:3}".format(i,i**2,i**3))

No.1 squarred is 1 and cube is   1
No.2 squarred is 4 and cube is   8
No.3 squarred is 9 and cube is  27
No.4 squarred is 16 and cube is  64
No.5 squarred is 25 and cube is 125
No.6 squarred is 36 and cube is 216
No.7 squarred is 49 and cube is 343
No.8 squarred is 64 and cube is 512
No.9 squarred is 81 and cube is 729
No.10 squarred is 100 and cube is 1000
No.11 squarred is 121 and cube is 1331
No.12 squarred is 144 and cube is 1728

In [71]:
age=22
name="ajay"
type(age)
type(name) # without using print function it check last valur and ignore revious value

str

In [74]:
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [75]:
print(name +"is" +age+ "old")

TypeError: can only concatenate str (not "int") to str

In [77]:
#we can   fix this by using F-string
print(name + f" is {age}old")

ajay is 22old

In [81]:
print(f"pi is {22/7}")

pi is 3.142857142857143

In [83]:
pi=22/7
print(f"pi is {pi:12}")

pi is 3.142857142857143

In [84]:
pi=22/7
print(f"pi is {pi:12:50f}")

ValueError: Invalid format specifier

In [85]:
pi=22/7
print(f"pi is {pi:12:50F}") # i think 50f is not working

ValueError: Invalid format specifier

In [86]:
# now we will learn python 2 string interpolation, 
#this stil will be removed in some time so no need to use in python 3 but lets try ir
age=22
print("my age is %d"%age)

my age is 22

In [88]:
float=2.22 
print("my age is %f"%float)

my age is 2.220000

In [89]:
string="hi"
print("my age is %s"%string)

my age is hi

In [91]:
print("my age is %s %d "%(string,age))

my age is hi 22

In [92]:
string="hi"+"i am"+"ajay"

In [93]:
print(string)

hii amajay

In [94]:
a=20
b=10
print(a/b) # remember  when we divide two interger number  ,it produe the result in float so final aswer in float vlaue

2.0

In [95]:
ajay="small letter"
Ajay="upper letter"
print(ajay) # python is case sensitive so,be careful with output

small letter